.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: start;
}

.cards-heading {
  color: #5f6368;
  letter-spacing: 0.07272727em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin: 32px 32px 8px;
  margin-top: 60px;
}
