header {
  padding: 8px;
  height: 64px;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.header-container {
  display: flex;
}

.mid-icons {
  margin-left: 25px;
  color: #7d7d7d;
  border: none;
  background: none;
  cursor: pointer;
}

.mid-header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 120px; */
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #5f6368;
  padding: 12px;
  margin: 0 4px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.hamburger:hover {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

.left-header {
  display: flex;
  align-items: center;
  min-width: 232px;
  padding-right: 30px;
}

.keep-div {
  font-family: "Open Sans", sans-serif;
  display: flex;
  width: 97px;
  height: 44px;
  align-items: center;
}

.keeps-img {
  width: 44px;
  height: 40px;
  padding-right: 4px;
}

.keeps-text {
  color: #5f6368;
  opacity: 1;
  font-size: 22px;
  padding-left: 4px;
  line-height: 24px;
}

.mid-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  /* margin-left: 30px; */
  align-items: center;
  padding-left: 10px;
}

.search {
  border: none;
  height: 46px;
  display: block;
  outline: none;
  width: 670px;
  margin-left: 17px;
  background-color: rgb(240 240 240);
  padding: 0;
  font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
  flex-grow: 1;
}

.search-div {
  display: flex;
  background-color: #f1f3f4;
  border-radius: 8px;
  align-items: center;
  overflow: hidden;
}

.search-icon {
  color: #5f6368;
  opacity: 1;
  border: none;
}

.mid-header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh {
  border: none;
  background: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTMgOXYyaDdWNGgtMnYyLjc0QzE2LjUzIDUuMDcgMTQuNCA0IDEyIDRjLTIuMjEgMC00LjIxLjktNS42NiAyLjM0UzQgOS43OSA0IDEyYzAgNC40MiAzLjU4IDggOCA4IDIuMjEgMCA0LjIxLS45IDUuNjYtMi4zNGwtMS40Mi0xLjQyQTUuOTggNS45OCAwIDAgMSAxMiAxOGMtMy4zMSAwLTYtMi42OS02LTYgMC0xLjY1LjY3LTMuMTUgMS43Ni00LjI0QTUuOTggNS45OCAwIDAgMSAxMiA2YTYuMDEgNi4wMSAwIDAgMSA1LjE5IDNIMTN6Ii8+Cjwvc3ZnPgo=);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.54;
}

.grid {
  border: none;
  background: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGlkPSJsaXN0X3ZpZXdfMjRweCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9ImJvdW5kcyIgZmlsbC1vcGFjaXR5PSIwIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjAgMCAyNCAwIDI0IDI0IDAgMjQiPjwvcG9seWdvbj4KICAgICAgICA8cGF0aCBkPSJNMjAsOSBMNCw5IEw0LDUgTDIwLDUgTDIwLDkgWiBNMjAsMTkgTDQsMTkgTDQsMTUgTDIwLDE1IEwyMCwxOSBaIE0zLDMgQzIuNDUsMyAyLDMuNDUgMiw0IEwyLDEwIEMyLDEwLjU1IDIuNDUsMTEgMywxMSBMMjEsMTEgQzIxLjU1LDExIDIyLDEwLjU1IDIyLDEwIEwyMiw0IEMyMiwzLjQ1IDIxLjU1LDMgMjEsMyBMMywzIFogTTMsMTMgQzIuNDUsMTMgMiwxMy40NSAyLDE0IEwyLDIwIEMyLDIwLjU1IDIuNDUsMjEgMywyMSBMMjEsMjEgQzIxLjU1LDIxIDIyLDIwLjU1IDIyLDIwIEwyMiwxNCBDMjIsMTMuNDUgMjEuNTUsMTMgMjEsMTMgTDMsMTMgWiIgaWQ9Imljb24iIGZpbGw9IiMwMDAwMDAiIGZpbGwtcnVsZT0ibm9uemVybyI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4K);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;

  opacity: 0.54;
}

.settings {
  border: none;
  background: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-position: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTMuODUgMjIuMjVoLTMuN2MtLjc0IDAtMS4zNi0uNTQtMS40NS0xLjI3bC0uMjctMS44OWMtLjI3LS4xNC0uNTMtLjI5LS43OS0uNDZsLTEuOC43MmMtLjcuMjYtMS40Ny0uMDMtMS44MS0uNjVMMi4yIDE1LjUzYy0uMzUtLjY2LS4yLTEuNDQuMzYtMS44OGwxLjUzLTEuMTljLS4wMS0uMTUtLjAyLS4zLS4wMi0uNDYgMC0uMTUuMDEtLjMxLjAyLS40NmwtMS41Mi0xLjE5Yy0uNTktLjQ1LS43NC0xLjI2LS4zNy0xLjg4bDEuODUtMy4xOWMuMzQtLjYyIDEuMTEtLjkgMS43OS0uNjNsMS44MS43M2MuMjYtLjE3LjUyLS4zMi43OC0uNDZsLjI3LTEuOTFjLjA5LS43LjcxLTEuMjUgMS40NC0xLjI1aDMuN2MuNzQgMCAxLjM2LjU0IDEuNDUgMS4yN2wuMjcgMS44OWMuMjcuMTQuNTMuMjkuNzkuNDZsMS44LS43MmMuNzEtLjI2IDEuNDguMDMgMS44Mi42NWwxLjg0IDMuMThjLjM2LjY2LjIgMS40NC0uMzYgMS44OGwtMS41MiAxLjE5Yy4wMS4xNS4wMi4zLjAyLjQ2cy0uMDEuMzEtLjAyLjQ2bDEuNTIgMS4xOWMuNTYuNDUuNzIgMS4yMy4zNyAxLjg2bC0xLjg2IDMuMjJjLS4zNC42Mi0xLjExLjktMS44LjYzbC0xLjgtLjcyYy0uMjYuMTctLjUyLjMyLS43OC40NmwtLjI3IDEuOTFjLS4xLjY4LS43MiAxLjIyLTEuNDYgMS4yMnptLTMuMjMtMmgyLjc2bC4zNy0yLjU1LjUzLS4yMmMuNDQtLjE4Ljg4LS40NCAxLjM0LS43OGwuNDUtLjM0IDIuMzguOTYgMS4zOC0yLjQtMi4wMy0xLjU4LjA3LS41NmMuMDMtLjI2LjA2LS41MS4wNi0uNzhzLS4wMy0uNTMtLjA2LS43OGwtLjA3LS41NiAyLjAzLTEuNTgtMS4zOS0yLjQtMi4zOS45Ni0uNDUtLjM1Yy0uNDItLjMyLS44Ny0uNTgtMS4zMy0uNzdsLS41Mi0uMjItLjM3LTIuNTVoLTIuNzZsLS4zNyAyLjU1LS41My4yMWMtLjQ0LjE5LS44OC40NC0xLjM0Ljc5bC0uNDUuMzMtMi4zOC0uOTUtMS4zOSAyLjM5IDIuMDMgMS41OC0uMDcuNTZhNyA3IDAgMCAwLS4wNi43OWMwIC4yNi4wMi41My4wNi43OGwuMDcuNTYtMi4wMyAxLjU4IDEuMzggMi40IDIuMzktLjk2LjQ1LjM1Yy40My4zMy44Ni41OCAxLjMzLjc3bC41My4yMi4zOCAyLjU1eiIvPgogIDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjMuNSIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  border-radius: 50%;

  opacity: 0.54;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  margin-left: 13px;
}

.apps {
  border: none;
  background: none;
  cursor: pointer;
  color: #5f6368;
  opacity: 1;
  width: 48px;

  height: 48px;
}

.account {
  border: none;
  background: none;
  cursor: pointer;
  color: #5f6368;
  opacity: 1;
  width: 48px;

  height: 48px;
}

.dark-mode {
  border: none;
  background: none;
  cursor: pointer;
  color: #5f6368;
  opacity: 1;
  width: 48px;

  height: 48px;
}

.apps:hover,
.account:hover,
.refresh:hover,
.grid:hover,
.settings:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.dark-placeholder::placeholder {
  color: white;
}

@media (max-width: 1330px) {
  .mid-header {
    width: 60%;
  }

  .right-header {
    margin-left: 0px;
  }
}

@media (max-width: 900px) {
  .mid-header {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .mid-header {
    display: none;
  }
  .right-header {
    flex-grow: 1;
  }
}
