.overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: #202124; */
  background-color: rgba(32, 33, 36, 0.6);
  top: 0;
  z-index: 10;
}

#modal-save {
  margin: 0 10px;
}
#modal-delete {
  margin: 0 5px;
}

.modal-bottom-container {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  border: none;
  width: 100%;
  height: 40px;
  margin: 10px;
  display: block;
  outline: none;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  padding-bottom: 12px;
  padding-top: 16px;
}

.modal-desc {
  border: none;
  width: 100%;
  height: 60px;
  margin: 10px;

  /* margin-left: 10px; */
  display: block;
  outline: none;
  overflow: auto;
  letter-spacing: 0.00625em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.modal {
  position: absolute;
  top: 12%;
  left: 33%;

  width: 35%;
  max-height: 90vh;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  z-index: 100;
}

.modal img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
  font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
  background: transparent;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}
