:root {
  --bg-color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 280px;
  padding-top: 8px;
}

.nav-item {
  display: flex;
  align-items: center;

  /* padding: 15px;
  padding-left: 25px; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--bg-color);
  width: 100%;
  height: 46px;
  padding-left: 24px;
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.nav-item-hidden {
  width: 46px;
  height: 46px;
  justify-content: center;
  padding-left: 0;
}

/* #f1f3f4  for gray background on hover */
.nav-item:hover {
  --bg-color: #f1f3f4;
  cursor: pointer;
}

.active {
  background-color: #feefc3;
}
.dark-active {
  background-color: #41331c;
}

.dark-nav {
  background-color: #202124;
}

.dark-nav:hover {
  background-color: #28292c;
}

.nav-text {
  margin-left: 20px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #202124;
  /* width: 200px; */
}

.hide {
  display: none;
}

.nav-item-border {
  border-radius: 29px;
  margin-left: 12px;
}

@media (max-width: 890px) {
  .nav-item {
    width: 46px;
    height: 46px;
    justify-content: center;
    padding-left: 0;
    border-radius: 29px;
    margin-left: 12px;
  }

  .nav-text {
    display: none;
  }
}
