.top-container {
  margin: 20px;
  /* width: 600px; */
  /* border : 1px solid black; */
  margin-top: 32px;
}

.file-label {
  /* text-align: center;
  height: 32px;
  padding: 5px; */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.newDiv {
  border: 1px solid #b0b0b0;
  border-radius: 6px;
  width: 598px;
  /* height: 46px; */
  margin: 0px auto;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border: none;
  position: relative;
  padding: 12px 16px;
  border: 1px solid transparent;
}

.newDiv-active {
  width: 600px;
  min-height: 136px;
  padding: 0;
}

.pin-icon {
  position: absolute;
  font-size: 20px;
  right: 1%;
  top: 29%;
  color: #5f6368;
  cursor: pointer;
}

.pin-icon-active {
  top: 11%;
}

.newInput {
  width: 400px;
  margin: 0px auto;
  height: 70px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #b0b0b0;
}

.input1 {
  border: none;
  width: 100%;
  outline: none;
  letter-spacing: 0.00625em;
  /* margin: 0px auto; */
  height: 44px;
  outline: none;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  padding: 10px 15px;
  background-color: transparent;
}

.input1::placeholder {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-bottom: 12px;
}

.hidden-input::placeholder {
  letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.702);
}

.input2 {
  border: none;
  width: 100%;
  /* height: 35px; */
  /* margin: 10px; */
  display: block;
  outline: none;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  background-color: transparent;
}

.input2-active {
  height: 46px;
  padding: 12px 16px;
}

.input2-active::placeholder {
  letter-spacing: 0.01428571em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

input {
  border-radius: 6px;
  border: 1px solid #b0b0b0;
  overflow: auto;
  color: black;
}

#title {
  border: none;
  height: 50px;
  outline: none;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  padding: 15px;
}

.input-container {
  margin: 0px auto;
  width: 600px;
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.left-options {
  display: flex;
  align-items: center;
}

.image-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.b1 {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 5px;
}
.b1:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

.image-button:hover {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
}

.options-container {
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
}

.gray-color {
  color: #5f6368;
  font-size: 20px;
}

.note-content {
  max-height: 600px;
  overflow-y: auto;
}

@media (max-width: 890px) {
  .newDiv {
    width: 500px;
  }

  .cards {
    justify-content: center;
  }

  .notes-wrapper {
    margin-left: 60px !important;
  }
}

@media (max-width: 604px) {
  .newDiv {
    width: 400px;
  }
  .cards {
    justify-content: center;
  }
  .card {
    flex-grow: 1;
  }
}
